version: '2'

services:

  elasticsearch:
    build:
      context: elasticsearch/
    container_name: elk_es
    volumes:
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk

  logstash:
    build:
      context: logstash/
    container_name: elk_logstash_tcp
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk
    ports:
      - 5000:5000
    depends_on:
      - elasticsearch

  kibana:
    build:
      context: kibana/
    container_name: elk_kibana
    volumes:
      - ./kibana/config/:/usr/share/kibana/config:ro
    networks:
      - elk
    depends_on:
      - elasticsearch

  nginx:
    image: nginx
    container_name: dockerelk_nginx
    restart: always
    container_name: elk_nginx
    volumes:
      - /var/lib/docker/lnmp/nginx/:/etc/nginx/conf.d/ 
      - /var/lib/docker/lnmp/nginx/htpasswd:/htpasswd
    networks:
      - elk
    depends_on:
      - kibana
    ports:
      - 81:80
  logstash-agent:
    build:
      context: logstash-agent/
    container_name: elk_logstash_agent
    networks:
      - elk
    environment:
      - privileged=true
    volumes:
      - /var/log/auth.log:/tmp/log/auth.log
      - ./logstash-agent/patterns:/patterns
    depends_on:
      - logstash


networks:

  elk:
    driver: bridge
